#menu {
  display:block;
  margin:auto;
  background-color: rgb(204, 9, 9);
}

.img-fluid {
  width: 40px;
  height: 40px;
  display: inline;
  margin-top: 10px;
}

.rounded-circle {
  display: inline;
  width: 45px;
  height: 45px;
}

#btn {
  float: right;
  display: inline;
}
  

p {
  color: white;
  display: inline;
}