<div *ngIf="authService.user | async">
    <p>Bienvenido : {{(((authService.user | async) || {})).email}}</p>
  </div>
  <form [formGroup]="authForm" (ngSubmit)="onRegister()" *ngIf="!(authService.user | async)">
    <input type="email" formControlName="email" placeholder="Email">
    <input type="password" formControlName="password" placeholder="Contraseña">
    <button type="submit" [disabled]="!authForm.valid">Registrarse</button>
    <!--Ejecutará ngSubmit -> onRegister puesto en la etiqueta form-->
    <button type="button" (click)="onLogin()" [disabled]="!authForm.valid">Log - in</button>
    <!--Ejecutará onLogin-->
  </form>