<div id="toolbar-btn">
    <button mat-button id="profile-btn" *ngIf="(authService.user | async)"><img src="{{fotoUsuario}}" class="rounded-circle">
        <p><strong>{{name}}</strong></p>
    </button>
    <button id="home-btn" mat-icon-button *ngIf="(authService.user | async)">
        <mat-icon>home</mat-icon>
    </button>
    <button id="chat-btn" mat-icon-button *ngIf="(authService.user | async)">
            <mat-icon><i class="fas fa-comments"></i></mat-icon>
    </button>

    <button id="bell-btn" mat-icon-button *ngIf="(authService.user | async)">
            <mat-icon><i class="fas fa-bell"></i></mat-icon>
    </button>


    <button mat-button id="logout-btn" (click)="onLogout()" *ngIf="authService.user | async">Cerrar Sesión</button>
</div>