.emuro-container {
    width: 100vw;
    height: 100vh;
    margin: 10px;
    border: 1px solid #555;
}

#menu {
  width: 30vw;
  background-color: #F9E79F;
  height: 100vh;
}

#muro {
  width: 70vw;
  height: 100vh;
}

